EMICalculatorSoapService/war/WEB-INF/LoanCalculatorService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is 
	JAX-WS RI 2.2.3-b01-. -->
<definitions targetNamespace="http://loan.services.sbr.com"
	name="LoanCalculatorService" xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:tns="http://loan.services.sbr.com"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
	<types>
		<xsd:schema>
			<xsd:import namespace="http://loan.services.sbr.com"
				schemaLocation="LoanCalculatorService_schema1.xsd" />
		</xsd:schema>
	</types>
	<message name="calculateEmi">
		<part name="parameters" element="tns:calculateEmi" />
	</message>
	<message name="calculateEmiResponse">
		<part name="parameters" element="tns:calculateEmiResponse" />
	</message>
	<message name="LoanCalculatorFault">
		<part name="fault" element="tns:LoanCalculatorFault" />
	</message>
	<message name="calculateDuration">
		<part name="parameters" element="tns:calculateDuration" />
	</message>
	<message name="calculateDurationResponse">
		<part name="parameters" element="tns:calculateDurationResponse" />
	</message>
	<message name="calculateInterestRate">
		<part name="parameters" element="tns:calculateInterestRate" />
	</message>
	<message name="calculateInterestRateResponse">
		<part name="parameters" element="tns:calculateInterestRateResponse" />
	</message>
	<message name="calculateInterestRateFromEmi">
		<part name="parameters" element="tns:calculateInterestRateFromEmi" />
	</message>
	<message name="calculateInterestRateFromEmiResponse">
		<part name="parameters" element="tns:calculateInterestRateFromEmiResponse" />
	</message>
	<message name="calculatePrincipalAmount">
		<part name="parameters" element="tns:calculatePrincipalAmount" />
	</message>
	<message name="calculatePrincipalAmountResponse">
		<part name="parameters" element="tns:calculatePrincipalAmountResponse" />
	</message>
	<portType name="LoanCalculator">
		<operation name="calculateEmi">
			<input
				wsam:Action="http://loan.services.sbr.com/LoanCalculator/calculateEmiRequest"
				message="tns:calculateEmi" />
			<output
				wsam:Action="http://loan.services.sbr.com/LoanCalculator/calculateEmiResponse"
				message="tns:calculateEmiResponse" />
			<fault message="tns:LoanCalculatorFault" name="LoanCalculatorFault"
				wsam:Action="http://loan.services.sbr.com/LoanCalculator/calculateEmi/Fault/LoanCalculatorFault" />
		</operation>
		<operation name="calculateDuration">
			<input
				wsam:Action="http://loan.services.sbr.com/LoanCalculator/calculateDurationRequest"
				message="tns:calculateDuration" />
			<output
				wsam:Action="http://loan.services.sbr.com/LoanCalculator/calculateDurationResponse"
				message="tns:calculateDurationResponse" />
			<fault message="tns:LoanCalculatorFault" name="LoanCalculatorFault"
				wsam:Action="http://loan.services.sbr.com/LoanCalculator/calculateDuration/Fault/LoanCalculatorFault" />
		</operation>
		<operation name="calculateInterestRate">
			<input
				wsam:Action="http://loan.services.sbr.com/LoanCalculator/calculateInterestRateRequest"
				message="tns:calculateInterestRate" />
			<output
				wsam:Action="http://loan.services.sbr.com/LoanCalculator/calculateInterestRateResponse"
				message="tns:calculateInterestRateResponse" />
			<fault message="tns:LoanCalculatorFault" name="LoanCalculatorFault"
				wsam:Action="http://loan.services.sbr.com/LoanCalculator/calculateInterestRate/Fault/LoanCalculatorFault" />
		</operation>
		<operation name="calculateInterestRateFromEmi">
			<input
				wsam:Action="http://loan.services.sbr.com/LoanCalculator/calculateInterestRateFromEmiRequest"
				message="tns:calculateInterestRateFromEmi" />
			<output
				wsam:Action="http://loan.services.sbr.com/LoanCalculator/calculateInterestRateFromEmiResponse"
				message="tns:calculateInterestRateFromEmiResponse" />
			<fault message="tns:LoanCalculatorFault" name="LoanCalculatorFault"
				wsam:Action="http://loan.services.sbr.com/LoanCalculator/calculateInterestRateFromEmi/Fault/LoanCalculatorFault" />
		</operation>
		<operation name="calculatePrincipalAmount">
			<input
				wsam:Action="http://loan.services.sbr.com/LoanCalculator/calculatePrincipalAmountRequest"
				message="tns:calculatePrincipalAmount" />
			<output
				wsam:Action="http://loan.services.sbr.com/LoanCalculator/calculatePrincipalAmountResponse"
				message="tns:calculatePrincipalAmountResponse" />
			<fault message="tns:LoanCalculatorFault" name="LoanCalculatorFault"
				wsam:Action="http://loan.services.sbr.com/LoanCalculator/calculatePrincipalAmount/Fault/LoanCalculatorFault" />
		</operation>
	</portType>
	<binding name="LoanCalculatorPortBinding" type="tns:LoanCalculator">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"
			style="document" />
		<operation name="calculateEmi">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="LoanCalculatorFault">
				<soap:fault name="LoanCalculatorFault" use="literal" />
			</fault>
		</operation>
		<operation name="calculateDuration">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="LoanCalculatorFault">
				<soap:fault name="LoanCalculatorFault" use="literal" />
			</fault>
		</operation>
		<operation name="calculateInterestRate">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="LoanCalculatorFault">
				<soap:fault name="LoanCalculatorFault" use="literal" />
			</fault>
		</operation>
		<operation name="calculateInterestRateFromEmi">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="LoanCalculatorFault">
				<soap:fault name="LoanCalculatorFault" use="literal" />
			</fault>
		</operation>
		<operation name="calculatePrincipalAmount">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="LoanCalculatorFault">
				<soap:fault name="LoanCalculatorFault" use="literal" />
			</fault>
		</operation>
	</binding>
	<service name="LoanCalculatorService">
		<port name="LoanCalculatorPort" binding="tns:LoanCalculatorPortBinding">
			<soap:address location="http://www.temloancalc.appspot.com/service?wsdl" />
		</port>
	</service>
</definitions>

